<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/blog.css">
    <!--【用了bootstrap，为了使页面不顶着顶部，加上了自己的样式】-->

    {#【用了bootstrap样式】#}

</head>
<body>
{% csrf_token %} <!--【要用到Ajax提交，所以加上csrff_token】-->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="login-form">
                <div class="form-group">
                    <label for="{{ form_obj.username.id_for_label }}">{{ form_obj.username.label }}</label>
                    {{ form_obj.username }} <!--【用这种方式形成的input标签会自动有一个id=‘id_username’】-->
                </div>
                <div class="form-group">
                    <label for="{{ form_obj.password.id_for_label }}">{{ form_obj.password.label }}</label>
                    {{ form_obj.password }}
                </div>
{#                【加上验证码】#}
                <div class="form-group">
                    <label for="v-code" style="display: block;">验证码</label>
                    <input type="text" id="v-code" class="form-control" style="width: 250px;display: inline-block">
                    <img src="/v-code/" id="i1" style="float: right">
                </div>
                <p id="msg-p" class="err-text"></p>
                <button type="button" class="btn btn-default" id="login-btn">登录</button>
{#                【前端页面渲染好之后，手动创建了一个超级用户，用于测试】#}
            </form>
        </div>
    </div>
</div>
</body>

<script src="/static/js/jquery.js"></script>
<script>
    $('#login-btn').click(function () {
        var username = $('#id_username').val();
        var pwd = $('#id_password').val();
        var csrf_token = $('[name="csrfmiddlewaretoken"]').val();  // 【根据属性选择标签,写进data里提交post请求】
        var v_code = $('#v-code').val();
        // 发送ajax请求
        $.ajax({
            url:'/login/',
            type:'post',
            data:{'username':username,'password':pwd,'csrfmiddlewaretoken':csrf_token,'v_code':v_code},
            success:function (res) {
                console.log(res);
                if(res.code !== 0){
                    // 有错误
                    $('#msg-p').text(res.msg)
                }else {
                    location.href='/index/'
                }
            }
        });
    });

     {#【聚焦时错误提示消失】#}
     $('input').focus(function () {
            $('#msg-p').text('')
        });

    {#【实现点击刷新验证码】#}
    {#    $('#i1').click(function () {#}
            {#this.src += '?'; // 每加一个问好就向本url发一个请求。浏览器知道src的属性变了就会再次访问该src，但是不会刷新整个页面，实现局部刷新。#}
        {#{)#}
{#    【上面的每次都加问号太lwo了，改一下】#}
    $('#i1').click(function () {
        // 使用正则判断一下，如果原来的url有？就去掉，没有就加上【但是这样做的在验证码函数上加上装饰器】
        var url = this.src;
        if (/\?$/.test(url)){
            this.src = url.slice(0,-1);
        }else {
            this.src = url +'?';
        }
    })
</script>
</html>
